html {
  height: 100dvh;
}

body {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: contain;
}


header, section {
  padding: 10px;
  position: absolute;
  z-index: 99;
}

header {
  bottom: 10px;
}

.splash-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background-color: #fff;
  z-index: 999;
}

.layers {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.canvas {
  outline: 1px solid #aaa;
  position: absolute;
}

.layers__background { z-index: 1; }
.layers__grid { z-index: 2; }
.layers__drawing { z-index: 3; }
.layers__gameplay { z-index: 4; }
.layers__ui { z-index: 5; }
.layers__cursor { 
  z-index: 6; 
  mix-blend-mode: difference;
}
.layers__touch-area { z-index: 7; }

.settings {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  padding: 10px;
}

.controls__label {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.controls__toggle {
  color: dodgerblue;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48;
  transform: scale(1.8);
}

.controls__input {
  display: none;
}

.toolbar {
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 8px;
}